@import url('https://fonts.googleapis.com/css?family=Itim');
body {
  background: #F2994A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F2C94C, #F2994A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F2C94C, #F2994A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Itim', cursive;
}
h2 {
  color: beige;
  text-align: center;
}
#drink-div {
 text-align: center;
}

#drink-div img{
   border-radius: 15px;
 }

#name-div {
  color: black;
  background-color: #ffffffb4; 
  border: 2px solid #ffffffb4;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  text-align: center;
}

#glass-div {
  color: black;
  background-color: #ffffffb4; 
  border: 1px solid #ffffffb4;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  text-align: center;
}

#ingredients-div {
  color: black;
  background-color: #ffffffb4; 
  border: 1px solid #ffffffb4;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  text-align: center;
}

#directions-div {
  color: black;
  background-color: #ffffffb4; 
  border: 1px solid #ffffffb4;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  text-align: center;
}
