nav {
	background-color: beige;
}

p {
	text-align: left;
}

.container {
	border: yellow 1px solid;
}

.boxes {
	float: left;
	margin: 10px;
	margin-left: 30px;
	border: red 1px solid;
}

.boxes img {
	height: auto;
	width: 250px;
}

.boxes h4 {
	font-size: 20px;
}

.rWhite {
	color: white;
}

label .rWhite {
	color: white;
}

#drink-div img {
	height: auto;
	width: 500px;
}